* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", "Arial", san-serif;
  font-size: 62.5%;
  color: white;
  background: black;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

.face-track {
  --interior-padding: 2rem;
  width: calc(100% - var(--interior-padding)*.5);
  height: calc(100% - var(--interior-padding)*.5);
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.face-track__wrapper {
  -webkit-touch-action: none;
  touch-action: none;
  width: 80%;
  max-width: 90rem;
  max-height: 100vh;
  padding: var(--interior-padding);
  display: grid;
  grid-template-columns: repeat(var(--total-cols), 1fr);
  grid-template-rows: repeat(var(--total-rows), 1fr);
}
.face-track__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
.face-track__img-wrapper {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.face-track__img {
  width: 100%;
  height: auto;
  display: block;
}
.face-track__debug {
  overflow: hidden;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  z-index: 2;
}

.face-track {
  --total-cols: 2;
  --total-rows: 2;
}
.face-track .face-track__item:nth-child(n+5) {
  display: none;
}
@media screen and (min-width: 768px) {
  .face-track {
    --total-cols: 3;
    --total-rows: 3;
  }
  .face-track .face-track__item:nth-child(n+5) {
    display: block;
  }
  .face-track .face-track__item:nth-child(n+10) {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .face-track {
    --total-cols: 4;
    --total-rows: 4;
  }
  .face-track .face-track__item:nth-child(n+10) {
    display: block;
  }
  .face-track .face-track__item:nth-child(n+17) {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .face-track {
    --total-cols: 5;
    --total-rows: 5;
  }
  .face-track .face-track__item:nth-child(n+17) {
    display: block;
  }
  .face-track .face-track__item:nth-child(n+26) {
    display: none;
  }
}

.debug__start-track {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #393939;
  border-radius: 50rem;
  -webkit-appearance: none;
  border: none;
  font-family: "SF Mono", monospace;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  z-index: 10;
  position: fixed;
}
.debug__panel {
  pointer-events: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.9);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(50%);
  border: solid 0.025rem rgba(128, 128, 128, 0.2);
}
.debug__table {
  width: 100%;
}
.debug__table-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  grid-template-areas: "head data";
  border-bottom: none;
  width: 100%;
}
.debug__group {
  display: contents;
  width: 100%;
}
.debug__head, .debug__data {
  padding: 0.35rem 0.45rem;
  text-align: left;
  font-size: 1rem;
  font-family: "SF Mono", monospace;
  border-bottom: solid 0.1rem rgba(255, 255, 255, 0.1);
}
.debug__head {
  font-weight: normal;
  grid-column: 1/span 1;
  color: #aaa;
  border-right: solid 0.1rem rgba(255, 255, 255, 0.1);
}
.debug__data {
  grid-column: 2/span 1;
  color: white;
}
.debug__toggle-label {
  padding: 0 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  line-height: 0;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: -0.05rem;
  border-top-right-radius: 0.5rem;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: transform 0.15s ease-in-out;
  transition-delay: 0.25s;
  transform: translateY(100%);
}
.face-track__item:hover .debug__toggle-label {
  transform: translateY(0%);
}
.debug__toggle-label:hover {
  background: #444;
}
@media screen and (min-width: 1024px) {
  .debug__toggle-label {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .debug__toggle-label {
    font-size: 1.2rem;
  }
}
.debug__panel-toggle {
  display: none;
}
.debug__panel-toggle:checked + .debug__panel {
  transform: translateY(0);
  opacity: 1;
}